/node_modules
/public/hot
/public/storage
public/js
public/css
public/css/app.css
public/css/asset.css
public/js/app.js
public/js/resources_js_components_item_menuCollapse_vue.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
